@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 767px) {
	.signal-line {
		--rotation: 0deg;
	}
}

@layer base {
	:root {
		--navigation-height: 4.8rem;
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
	}

	html {
		@apply bg-background font-sans text-white;
		font-size: 62.5%;
	}

	.highlighted-keys .active rect:first-child {
		fill-opacity: 0.4;
	}

	.highlighted-keys .active rect:not(:first-child) {
		stroke-opacity: 1;
	}

	.highlighted-keys .active path {
		fill-opacity: 1;
	}
}

@layer base {
	body {
		@apply bg-background text-foreground;
	}
}

@layer utilities {
	.text-shadow {
		text-shadow: rgb(0 0 0 / 56%) 0px 3px 12px;
	}

	.text-gradient {
		background: linear-gradient(
			to right bottom,
			rgb(255, 255, 255) 30%,
			rgba(255, 255, 255, 0.38)
		);
		background-clip: text;
	}

	.mask-radial-faded {
		mask-image: radial-gradient(
			circle at center center,
			black,
			transparent 80%
		);
	}

	.mask-linear-faded {
		mask-image: linear-gradient(black, transparent 70%);
	}

	.mask-keyboard {
		mask-image: linear-gradient(
			transparent 0%,
			rgba(0, 0, 0, 0.57) 33.98%,
			black 100%
		);
	}

	.mask-shortcutkeys {
		mask-image: linear-gradient(
			to right,
			transparent,
			black 40%,
			black calc(60%),
			transparent 100%
		);
	}

	.glass-container {
		position: relative;
	}

	.glass-container::before {
		@apply absolute -inset-[10px] -z-10 rounded-xl border border-slate-100/20 bg-slate-200/10 backdrop-blur-md;
		content: '';
	}

	.glass-container-tabs {
		position: relative;
	}

	.glass-container-tabs::before {
		@apply absolute -inset-[10px] -z-10 rounded-xl border border-slate-100/20 bg-slate-200/10 backdrop-blur-md h-[140%] md:h-[106%];
		content: '';
	}

	.signal-line {
		--rotation: 90deg;
		@apply h-[20px] w-[1.5px] bg-gradient-to-t md:h-[1.5px] md:w-[30px] lg:w-[40px] xl:w-[50px];
		background-color: hsla(0, 0%, 100%, 0.1);
		background-image: linear-gradient(
			var(--rotation),
			rgba(255, 255, 255, 0) 50%,
			#bfdbfe 50%,
			rgba(255, 255, 255, 0) 70%
		);
		background-size: 400% 400%;
	}

	.bg-gradient-to-b {
		background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
	}

	.bg-gradient-to-br {
		background-image: linear-gradient(
			to bottom right,
			var(--tw-gradient-stops)
		);
	}

	.no-visible-scrollbar {
		scrollbar-width: none;
		-ms-overflow-style: none;
		-webkit-overflow-scrolling: touch;
	}

	.no-visible-scrollbar::-webkit-scrollbar {
		display: none;
	}
}
